# Dependencies
node_modules
npm-debug.log*

# Next.js build output
.next
out

# Environment variables
.env.local
.env.development
.env.test
.env.production

# Testing
coverage
.nyc_output

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# CI/CD
.github

# Other
README.md
*.md
__tests__